body {
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header {
    height: 100px;
}

footer {
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #AAA;
}

nav {
    width: 100%;
    background-color: #424558;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}

.table {
    display: table;
    margin: 0 auto;
}

.menu-index:hover, .presentation {
    border-top: 5px solid #1bfa27;
    background-color: rgba( 0, 191, 10, 0.15);
}

.menu-exp:hover, .parcours {
    border-top: 5px solid #fcf644;
    background-color: rgba( 207, 200, 2, 0.15);
}

.menu-hobbies:hover, .competences {
    border-top: 5px solid #2ff7fa;
    background-color: rgba( 0, 201, 204, 0.15);
}

.menu-contact:hover, .recommendation {
    border-top: 5px solid #eb34c9;
    background-color: rgba( 209, 0, 170, 0.15);
}

nav li:hover a{
    padding-top: 15px;
}

section {
    width:100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section {
    margin: 0 10%;
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: left;
    width: 70%;
}

.cleft, .cright, .sousleft, .sousright {
    width: 50%;
    float: left;
}

.section::after, .exp::after, .reco::after {
    content: "";
    display: table;
    clear: both;
}

.pdf {
    width:50px;
    height: auto;
}

.portrait {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.orange {
    border-top: 5px solid #e47d26;
    background-color: rgba(228, 117, 38, 0.15);
    margin-bottom: 0;
}

.rose {
    border-top: 5px solid #e44d96;
    background-color: rgba(228, 77, 128, 0.15);
    margin-bottom: 0;
}

.vert {
    border-top: 5px solid #5f6;
    background-color: rgba(70, 240, 80, 0.15);
}

.bleu {
    border-top: 5px solid #29c;
    background-color: rgba(30, 152, 212, 0.15);
}

.jaune {
    border-top: 5px solid #f3e241;
    background-color: rgba(240, 255, 69, 0.15);
}

.rouge {
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}

.leftExp {
    width: 45%;
    float: left;
}

.rightExp {
    width: 50%;
    float: left;
    margin-left: 5%;
}

.leftExp img {
    width: 100%;
    max-width: 250px;
}






@media screen and (max-width: 780px) {
    header {
        height: 50px;
    }
    h1 {
        font-size: 28px;
        margin: 20px 0 0 0 ;
    }
    nav li a {
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a {
        padding: 5px 10px 10px 10px;
        
    }
}